.flash-box
  .flash-box__headerlogo
    グループを作成しました
.wrapper
  .wrapper__
  .sidebox
    .sidebox__menu
      %p.sidebox__menu__name
        sasao
      %ul.sidebox__menu__box
        %li
          = link_to "http://localhost:3000/messages", class: "sidebox__menu__boxs" do
            = fa_icon 'edit', class:"sidebox__menu__boxs--icon1"
            %span<>
            = fa_icon 'cog', class:"sidebox__menu--boxs--icon2"
-#   .groupsbox
-#     .groupsbox__groups
-#       .groupsbox__groups__title
-#         sample
-#       =link_to "http://localhost:3000/messages", class: "groupsbox__groups__title__boxs" do
-#         まだメッセージはありません
-#     .groupsbox__groups  
-#       .groupsbox__groups__titles
-#         仮置き
-#       =link_to "http://localhost:3000/messages", class: "groupsbox__groups__title__boxs" do
-#         まだメッセージはありません
-# .mainbox
-#   .mainbox__header
-#     .mainbox__header__title
-#       サンプル
-#     =link_to "http://localhost:3000/messages"
-#     .mainbox__header__sub
-#       member：仮置き
-#   .ainbox__header__edit